<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>About us 1</p>
        <p>About us 2</p>
        <p>About us 3</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>